apiVersion: apps/v1
kind: Deployment
metadata:
  name: fastapi-test
spec:
  replicas: 2
  selector:
    matchLabels:
      app: fastapi
  template:
    metadata:
      labels:
        app: fastapi
    spec:
      containers:
      - name: fastapi
        image: fastapi:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8000